.idea
.settings
.classpath
.project
target
AI-winter-school-2024/config/db/virtuoso-temp.db
AI-winter-school-2024/config/db/virtuoso.db
AI-winter-school-2024/config/db/virtuoso.log
AI-winter-school-2024/config/db/virtuoso.trx
AI-winter-school-2024/config/db/virtuoso.lck
AI-winter-school-2024/config/redis-db/*
